			body{
				margin: 0px;
				color: black;
				background-color: white;
			}
			
			#menu-bar {
				background-color: #e3f2ff;
				padding: 20px 20px 2px 20px;
				text-align: center;
			}
			
			.tabs {
				padding: 5px 5px 5px 5px;
				margin: 0px;
			}

			.tablink {
				text-decoration: none;
				color: black;
			}
			
			#selected-tab {
				background-color: white;
				color: black;
			}
			
			p {
				margin: 0px;
			}
			
			#heading {
				font-family: sans-serif;
			}
			
			#menu {
				margin: 16px;
			}
