			body{
				margin: 0px;
				color: black;
				background-color: white;
			}
			
			#menu-bar {
				background-color: #acc4fa;
				padding: 20px 20px 2px 20px;
				text-align: center;
			}
			
			.tabs {
				padding: 5px 5px 5px 5px;
				margin: 0px;
			}
			
			#selected-tab {
				background-color: white;
				color: black;
			}
			
			p {
				margin: 0px;
			}
			
			#heading {
				font-family: sans-serif;
			}
			
			a {
				text-decoration: none;
				color: #7682b5;
			}
			
			#menu {
				margin: 16px;
			}
